{% extends "layout.html" %}

{% block title %}
Users
{% endblock %}

{% block content %}
{% include "nav.html" %}
<div class="header">
<h1>Registerd Users</h1>
</div>
<div class="main">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Fullname</th>
                <th scope="col">Address</th>
                <th scope="col">Pincode</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users%}
            {% if user.is_admin==0 %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.pincode }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}