{% extends "layout.html" %}

{% block title %}
Book Parking Spot
{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white text-center">
      <h2>Book Parking Spot</h2>
    </div>
    <div class="card-body">
      <form method="post">
        <div class="mb-3">
          <label for="spotid" class="form-label">Spot ID</label>
          <input id="spotid" class="form-control" name="spotid" value="{{ available_spot }}" disabled>
        </div>
        <div class="mb-3">
          <label for="lotid" class="form-label">Lot ID</label>
          <input id="lotid" class="form-control" name="lotid" value="{{ lot.id }}" disabled>
        </div>
        <div class="mb-3">
          <label for="userid" class="form-label">User ID</label>
          <input id="userid" class="form-control" name="userid" value="{{ user.id }}" disabled>
        </div>
        <div class="mb-3">
          <label for="vehicle" class="form-label">Vehicle No.</label>
          <input type="text" id="vehicle" class="form-control" name="vehicle" placeholder="Enter Vehicle Number" required>
        </div>

        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-success px-4">Reserve</button>
          <a href="/user/dashboard" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}