{% extends "layout.html" %}

{% block title %}
Parking Spot Details
{% endblock %}

{% block content %}
<div>
    <h1>Occupied Parking Spot Details</h1>
</div>
<div>
    <div class="form-group">
        <label for="spot_id">Spot ID</label>
        <input type="text" class="form-control" id="spot_id" value="{{ reserve.spot_id }}" disabled> 
    </div>

    <div class="form-group">
        <label for="cust_id">Customer ID</label>
        <input type="text" class="form-control" id="cust_id" value="{{ reserve.user_id }}" disabled>
    </div>

    <div class="form-group">
        <label for="vehicle">Vehicle No</label>
        <input type="text" class="form-control" id="vehicle" value="{{ reserve.vehicle_no }}"disabled>
    </div>

    <div class="form-group">
        <label for="time">Time of Parking</label>
        <input type="text" class="form-control" id="time" value="{{ reserve.start_time.strftime('%Y-%m-%d %H:%M') }}" disabled>
    </div>

    <div class="form-group">
        <label for="cost">Est. Parking Cost</label>
        <input type="text" class="form-control" id="cost" value="{{ est_parking_cost }}" disabled>
    </div>

    <a href="/admin/dashboard" class="btn btn-primary">Close</a>

</div>
{% endblock %}